.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header__container {
  display: flex;
}
.header__logo {
  margin-right: 94px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}
.header__nav__list {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  align-items: center;
}
.header__contact__list {
  display: flex;
  justify-content: space-around;
  column-gap: 50px;
  align-items: center;
}
.header__nav__link {
  position: relative;
}

.header__nav__link::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  left: 0;
  right: 0;
  height: 5px;
  background-color: $colorHover;
  bottom: -25px;
  transform: scaleX(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.header__nav__link.header__nav__link--activated {
  color: $colorHover;
}

.header__nav__link.header__nav__link--activated::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 5px;
  background-color: $colorHover;
  bottom: -25px;
  transform: scaleX(1);
}

.header__nav__link:hover::after {
  transform: scaleX(1);
}

.header__nav__link,
.header__contact__link {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: $colorTextOne;
}

.header__nav__link:hover,
.header__contact__link:hover {
  color: $colorHover;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.header__contact__item {
  display: flex;
  align-items: center;
}
.header__contact__link {
  letter-spacing: 0.02em;
  color: $colorTextTwo;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  display: flex;
  align-items: center;
}
/* header - icons */
.header__gmail--icon {
  width: 16px;
  height: 12px;
  fill: $colorCustomers;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  margin-right: 10px;
}
.header__phone--icon {
  width: 10px;
  height: 16px;
  fill: $colorCustomers;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  margin-right: 10px;
}
.header__contact__item:hover {
  color: $colorHover;
}
.header__contact__item:hover .header__gmail--icon,
.header__contact__item:hover .header__phone--icon {
  fill: $colorHover;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.header__contact__list,
.header__nav__list,
.header__nav,
.header__container {
  display: flex;
  align-items: center;
}
