.hero {
  background-color: $colorBackgroungSecondary;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      $colorHeroGradientOverlay,
      $colorHeroGradientOverlay
    ),
    url(../images/hero-backgroung-image.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: $colorTextThree;
  max-width: 696px;
}

.hero__button {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: $colorTextThree;
  background-color: $colorButton;
  padding: 10px 32px;
}

.hero__button:hover {
  -webkit-box-shadow: 0px 0px 33px 8px rgba(33, 150, 243, 1);
  -moz-box-shadow: 0px 0px 33px 8px rgba(33, 150, 243, 1);
  box-shadow: 0px 0px 33px 8px rgba(33, 150, 243, 1);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.hero {
  padding-top: 150px;
  padding-bottom: 150px;
}

@media (min-width: 480px) {
  .hero {
    padding-top: 180px;
    padding-bottom: 180px;
  }
  .hero__title {
    font-size: 36px;
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__title {
    font-size: 44px;
    max-width: 696px;
  }
  .hero__button {
    padding: 12px 40px;
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .hero {
    padding-top: 220px;
    padding-bottom: 220px;
  }
  .hero__title {
    font-size: 48px;
  }
  .hero__button {
    padding: 14px 48px;
  }
}
