.hero {
  background-color: $colorBackgroungSecondary;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      $colorHeroGradientOverlay,
      $colorHeroGradientOverlay
    ),
    url(../images/hero-backgroung-image.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: $colorTextThree;
  max-width: 696px;
}

.hero-button {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: $colorTextThree;
  background-color: $colorButton;
  padding: 10px 32px;
}
.hero-button:hover {
  -webkit-box-shadow: 0px 0px 33px 8px rgba(33, 150, 243, 1);
  -moz-box-shadow: 0px 0px 33px 8px rgba(33, 150, 243, 1);
  box-shadow: 0px 0px 33px 8px rgba(33, 150, 243, 1);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
