.services {
  padding-top: 94px;
  padding-bottom: 94px;
  display: none;
}
.service__images {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 30px;
}
.service__photo {
  position: relative;
}
.service__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
  color: $colorTextOne;
}

.service__text {
  background-color: $colorServiceBg;
  color: $colorTextThree;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  width: 100%;

  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 768px) {
  .services {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
    display: none;
  }

  .service__images {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 30px;
    overflow-x: hidden;
  }

  .service__photo {
    position: relative;
    min-width: calc(33.33% - 20px);
    flex: 0 0 auto;
  }

  .service__title {
    font-size: 42px;
    text-align: center;
  }

  .service__text {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media (min-width: 1200px) {
  .services {
    display: flex;
  }
  .service__photo {
    min-width: calc(33.33% - 30px);
  }

  .service__title {
    font-size: 48px;
  }
}
