:root {
  --colorTextOne: #212121;
  --colorTextTwo: #757575;
  --colorTextThree: #ffffff;
  --colorHover: #2196f3;
  --colorButton: #2196f3;
  --colorBackgroungPrimary: #2f303a;
  --colorBackgroungSecondary: #f5f4fa;
  --colorTextAdditional: rgba(255, 255, 255, 0.6);
}
body {
  font-family: "Roboto", sans-serif;
}
.header-nav-item {
  font-weight: 500;
  font-size: 14px;
  color: var(--colorTextOne);
}
.header-contact-item {
  font-weight: 500;
  font-size: 14px;
  color: var(--colorTextTwo);
}
.poster-photo {
  width: 370px;
  height: 404px;
}
.poster-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  color: var(--colorTextOne);
}
.poster-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: var(--colorTextTwo);
}

.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  color: var(--colorTextOne);
  border-radius: 4px;
}

.footer {
  background-color: var(--colorBackgroungPrimary);
}
.footer-contact-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: var(--colorTextThree);
}
.footer-contact-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: var(255, 255, 255, 0.6);
}
