:root {
  --colorTextOne: #212121;
  --colorTextTwo: #757575;
  --colorTextThree: #ffffff;
  --colorHover: #2196f3;
  --colorButton: #2196f3;
  --colorBackgroungPrimary: #2f303a;
  --colorBackgroungSecondary: #f5f4fa;
  --colorTextAdditional: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--colorTextOne);
  font-weight: 400;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-container {
  display: flex;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}
.header-nav-list {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}
.header-contact-list {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  align-items: center;
}

.header-nav-link,
.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  color: var(--colorTextOne);
}

.header-nav-link:hover,
.header-contact-link:hover {
  color: var(--colorHover);
}
.header-contact-link {
  letter-spacing: 0.02em;
  color: var(--colorTextTwo);
}

.hero {
  background-color: var(--colorBackgroungPrimary);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--colorTextThree);
}

.hero-button {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--colorTextThree);
  background-color: var(--colorButton);
  padding: 10px 32px;
}
.advantages {
  padding-top: 95px;
}
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  padding-top: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--colorTextOne);
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--colorTextTwo);
}
.services {
  padding-top: 94px;
  padding-bottom: 94px;
}
.service-images {
  display: flex;
}
.service-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorTextOne);
}
.team {
  background-color: var(--colorBackgroungSecondary);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-members {
  display: flex;
  flex-direction: row;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorTextOne);
}
.team-member-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorTextOne);
}
.team-member-role {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorTextTwo);
}
.footer {
  background-color: var(--colorBackgroungPrimary);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-contact-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--colorTextThree);
  font-style: normal;
}
.footer-contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--colorTextAdditional);
}
.footer-contact-link:hover {
  color: var(--colorHover);
}

/* ================================================================== */
.poster-photo {
  width: 370px;
  height: 404px;
}
.poster-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--colorTextOne);
}
.poster-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--colorTextTwo);
}

.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorTextOne);
  border-radius: 4px;
}
.button-text:hover {
  background-color: var(--colorHover);
}
