:root {
  --colorTextOne: #212121;
  --colorTextTwo: #757575;
  --colorTextThree: #ffffff;
  --colorHover: #2196f3;
  --colorButton: #2196f3;
  --colorBackgroungPrimary: #2f303a;
  --colorBackgroungSecondary: #f5f4fa;
  --colorTextAdditional: rgba(255, 255, 255, 0.6);
  --colorCardBorder: #eeeeee;
  --colorHeroGradientOverlay: rgba(47, 48, 58, 0.4);
  --colorCustomers: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--colorTextOne);
  font-weight: 400;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-container {
  display: flex;
}
.header-logo {
  margin-right: 94px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}
.header-nav-list {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  align-items: center;
}
.header-contact-list {
  display: flex;
  justify-content: space-around;
  column-gap: 50px;
  align-items: center;
}

.header-nav-link,
.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  color: var(--colorTextOne);
}

.header-nav-link:hover,
.header-contact-link:hover {
  color: var(--colorHover);
  transition: color 0.4s;
}
.header-contact-link {
  letter-spacing: 0.02em;
  color: var(--colorTextTwo);
  transition: color 0.4s;
}
/* header - icons */
.header-gmail-icon {
  width: 16px;
  height: 12px;
  fill: var(--colorCustomers);
  transition: color 0.4s;
  margin-right: 10px;
}
.header-phone-icon {
  width: 10px;
  height: 16px;
  fill: var(--colorCustomers);
  transition: color 0.4s;
  margin-right: 10px;
}
.header-contact-item:hover {
  color: var(--colorHover);
}
.header-contact-item:hover .header-gmail-icon,
.header-contact-item:hover .header-phone-icon {
  fill: var(--colorHover);
  transition: 0.4s;
}

.hero {
  background-color: var(--colorBackgroundPrimary);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      var(--colorHeroGradientOverlay),
      var(--colorHeroGradientOverlay)
    ),
    url(../images/hero-backgroung-image.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--colorTextThree);
  max-width: 696px;
}

.hero-button {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--colorTextThree);
  background-color: var(--colorButton);
  padding: 10px 32px;
}
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-item::before {
  display: block; /*Робить елемент - Блочним*/
  content: ""; /*Без content: не буде зміни в згенерованому тексті веб-сторінки*/
  height: 120px; /*Висота елемента -_-*/
  background-color: var(--colorBackgroungSecondary); /*Колір фону*/
  background-size: auto; /*Стандартний розмір картинки*/
  background-position: center; /*Робить елементи по центру*/
  background-repeat: no-repeat; /*Робить що б картинки не повторювалась*/
  margin-bottom: 30px; /*Відступ між фото та advantages-title/text*/
  background-image: url(../images/advantages-icons/antenna-1.svg); /*Картинка на фоні*/
}
.advantages-item:nth-child(2)::before {
  background-image: url(../images/advantages-icons/clock-1.svg);
} /*Можна кожен раз робити 2й класс. Наприклад advantages-item-1 / 2 / 3 / 4 або можна зробити через nth-child. */
.advantages-item:nth-child(3)::before {
  background-image: url(../images/advantages-icons/diagram-1.svg);
}
.advantages-item:nth-child(4)::before {
  background-image: url(../images/advantages-icons/astronaut-1.svg);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--colorTextOne);
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--colorTextTwo);
}
.services {
  padding-top: 94px;
  padding-bottom: 94px;
}
.service-images {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 30px;
}
.service-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
  color: var(--colorTextOne);
}

.team {
  background-color: var(--colorBackgroungSecondary);

  padding-bottom: 94px;
}
.team-members {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 30px;
}
.team-member {
  background-color: var(--colorTextThree);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.member-photo {
  margin-bottom: 30px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorTextOne);
  margin-bottom: 50px;
}
.team-member-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorTextOne);

  margin-bottom: 10px;
}
.team-member-role {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorTextTwo);
  padding-bottom: 16px;
}
.team-wnetworks {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 30px;
}
.wnetwork-icon {
  width: 20px;
  height: 20px;
  fill: var(--colorCustomers);
}
.team-wnetwork-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}
.team-wnetwork {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  transition: 0.4s ease;
}

.team-wnetwork:hover {
  background-color: var(--colorHover);
  fill: var(--colorTextThree);
}
.wnetwork-icon:hover {
  fill: var(--colorTextThree);
}
.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customer-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.customers {
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
}
.customer {
  border: 1px solid var(--colorCustomers);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
}
.customer-link {
  width: 170px;
  height: 92px;
}
.customer-logo {
  width: 106px;
  height: 60px;
  fill: var(--colorCustomers);
  transition: fill 0.4s ease;
}
.customer:hover {
  border: 1px solid var(--colorHover);
}
.customer:hover .customer-logo {
  fill: var(--colorHover);
}
/* footer */
.footer {
  background-color: var(--colorBackgroungPrimary);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  margin-bottom: 20px;
  display: inline-block;
}
.footer-contact-list {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}
.footer-contact-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--colorTextThree);
  font-style: normal;
}
.footer-contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--colorTextAdditional);
}
.footer-contact-link:hover {
  color: var(--colorHover);
  transition: color 0.4s;
}
.footer-wnetwork-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--colorTextThree);
}
.footer-wnetworks {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.footer-wnetwork {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-wnetwork:hover {
  width: 44px;
  height: 44px;
  background-color: var(--colorHover);
}
.footer-wnetwork-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-wnetwork-icon {
  width: 20px;
  height: 20px;
  fill: var(--colorTextThree);
}

/* ================================================================== */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.poster-photo {
  margin-bottom: 20px;
}

.poster-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--colorTextOne);
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
}
.poster-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--colorTextTwo);
  padding-left: 24px;
  padding-right: 24px;
}

.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colorTextOne);
  border-radius: 4px;
  margin-bottom: 50px;
  padding: 6px 25px;
}
.button-text:hover {
  padding: 5px 24px;
  color: var(--colorMain);
  border-radius: 4px;
  border: solid 1px var(--colorHover);
  background-color: var(--colorHover);

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.buttons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.information-posters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.information-poster {
  flex-basis: calc((100% - 60px) / 3);
  padding-bottom: 20px;
  border: 1px solid var(--colorCardBorder);
}
.information-poster:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
